openapi: 3.0.3
info:
  title: Bridge dla Agrowca — API (kontrakt zamrożony)
  version: "1.0.0-2026-08-17"
  description: >
    Kontrakt wygenerowany z ZWERYFIKOWANEGO inwentarza endpointów
    (docs/spec-backend.md + 01_ENDPOINTY.md), nie z pamięci.
    Ścieżki/metody/auth/parametry: FROZEN. Kształty request/response: do
    zamrożenia w Kroku 2.4 (nagrane fixtures z żywego backendu).
    UWAGA BEZPIECZEŃSTWA: operacje bez `security` są PUBLICZNE (bez logowania)
    — to stan faktyczny do naprawy, nie rekomendacja. Patrz spec-backend.md §2.
servers:
  - url: https://panel.agritires.eu
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
    cookieAuth: { type: apiKey, in: cookie, name: bridge_session }
  # === POCZĄTEK: schematy generowane z contract/fixtures/ (tools/generate-openapi-schemas.cjs) ===
  # Wywnioskowane z nagrań produkcji, NIE z rebuild/. Nie edytuj ręcznie —
  # przebuduj: node tools/generate-openapi-schemas.cjs
  schemas:
    DELETEProductsIdOdpowiedz200:
      type: "object"
      properties:
        ok:
          type: "boolean"
      required:
        - "ok"
    GETAdminSupplierConfigOdpowiedz200:
      type: "object"
      properties:
        ok:
          type: "boolean"
        dostawcy:
          type: "array"
          items:
            type: "object"
            properties:
              kod:
                type: "string"
              nazwa:
                type: "string"
              url:
                type: "string"
              urlEfektywnyZDb:
                type: "boolean"
              czestotliwoscMinuty:
                type: "integer"
              status:
                type: "string"
              fallbackUrl:
                type: "string"
            required:
              - "kod"
              - "nazwa"
              - "url"
              - "urlEfektywnyZDb"
              - "czestotliwoscMinuty"
              - "status"
              - "fallbackUrl"
      required:
        - "ok"
        - "dostawcy"
    GETAdminSuppliersListOdpowiedz200:
      type: "object"
      properties:
        ok:
          type: "boolean"
        dostawcy:
          type: "array"
          items:
            type: "object"
            properties:
              kod:
                type: "string"
              nazwa:
                type: "string"
              url:
                type: "string"
              czestotliwoscMinuty:
                type: "integer"
              status:
                type: "string"
              ostatniPlik:
                type: "string"
              liczbaProduktow:
                type: "integer"
            required:
              - "kod"
              - "nazwa"
              - "url"
              - "czestotliwoscMinuty"
              - "status"
              - "ostatniPlik"
              - "liczbaProduktow"
      required:
        - "ok"
        - "dostawcy"
    GETAlertsOdpowiedz200:
      type: "array"
      items:
        type: "object"
        properties:
          id:
            type: "integer"
          poziom:
            type: "string"
          typ:
            type: "string"
          opis:
            type: "string"
          dostawca:
            type: "string"
          status:
            type: "string"
          data:
            type: "string"
        required:
          - "id"
          - "poziom"
          - "typ"
          - "opis"
          - "dostawca"
          - "status"
          - "data"
    GETAnalyticsAvailabilityProductsOdpowiedz200:
      type: "object"
      properties:
        hasHistory:
          type: "boolean"
        rows:
          type: "array"
          items: {}
      required:
        - "hasHistory"
        - "rows"
    GETAnalyticsDostawcyStatsOdpowiedz200:
      type: "array"
      items:
        type: "object"
        properties:
          dostawca:
            type: "string"
          liczbaProduktow:
            type: "integer"
          avgMarza:
            type: "integer"
          avgCenaZakupu:
            type: "number"
          dostepnych:
            type: "integer"
        required:
          - "dostawca"
          - "liczbaProduktow"
          - "avgMarza"
          - "avgCenaZakupu"
          - "dostepnych"
    GETAnalyticsEanComparisonOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              ean:
                type: "string"
              nazwa:
                type: "string"
              dostawcy:
                type: "integer"
              cenaMin:
                type: "number"
              cenaMax:
                type: "number"
              srednia:
                type: "number"
              oferty:
                type: "integer"
              spreadZl:
                type: "number"
              spreadPct:
                type: "number"
            required:
              - "ean"
              - "nazwa"
              - "dostawcy"
              - "cenaMin"
              - "cenaMax"
              - "srednia"
              - "oferty"
              - "spreadZl"
              - "spreadPct"
      required:
        - "rows"
    GETAnalyticsEanCoverageOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              liczbaDostawcow:
                type: "integer"
              liczbaEAN:
                type: "integer"
            required:
              - "liczbaDostawcow"
              - "liczbaEAN"
      required:
        - "rows"
    GETAnalyticsEanDetailsOdpowiedz200:
      type: "object"
      properties:
        ean:
          nullable: true
        offers:
          type: "array"
          items: {}
      required:
        - "ean"
        - "offers"
    GETAnalyticsEanPorownanieOdpowiedz200:
      type: "array"
      items:
        type: "object"
        properties:
          ean:
            type: "string"
          nazwa:
            type: "string"
          dostawcy:
            type: "integer"
          cenaMin:
            type: "number"
          cenaMax:
            type: "number"
        required:
          - "ean"
          - "nazwa"
          - "dostawcy"
          - "cenaMin"
          - "cenaMax"
    GETAnalyticsEanSupplierRankOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              dostawca:
                type: "string"
              wspolnePozycje:
                type: "integer"
              najtanszy:
                type: "integer"
              najtanszyPct:
                type: "number"
            required:
              - "dostawca"
              - "wspolnePozycje"
              - "najtanszy"
              - "najtanszyPct"
      required:
        - "rows"
    GETAnalyticsEanUniqueOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              ean:
                type: "string"
              nazwa:
                type: "string"
              dostawca:
                type: "string"
              cenaZakupu:
                type: "number"
              stan:
                type: "integer"
            required:
              - "ean"
              - "nazwa"
              - "dostawca"
              - "cenaZakupu"
              - "stan"
      required:
        - "rows"
    GETAnalyticsFiltersOdpowiedz200:
      type: "object"
      properties:
        dostawcy:
          type: "array"
          items:
            type: "object"
            properties:
              value:
                type: "string"
            required:
              - "value"
        marki:
          type: "array"
          items:
            type: "object"
            properties:
              value:
                type: "string"
            required:
              - "value"
        modele:
          type: "array"
          items:
            type: "object"
            properties:
              value:
                type: "string"
            required:
              - "value"
        rozmiary:
          type: "array"
          items:
            type: "object"
            properties:
              value:
                type: "string"
            required:
              - "value"
        indeksyNosnosci:
          type: "array"
          items:
            type: "object"
            properties:
              value:
                type: "string"
            required:
              - "value"
        indeksyPredkosci:
          type: "array"
          items:
            type: "object"
            properties:
              value:
                type: "string"
            required:
              - "value"
      required:
        - "dostawcy"
        - "marki"
        - "modele"
        - "rozmiary"
        - "indeksyNosnosci"
        - "indeksyPredkosci"
    GETAnalyticsImportyTimelineOdpowiedz200:
      type: "array"
      items: {}
    GETAnalyticsKpiOdpowiedz200:
      type: "object"
      properties:
        produkty:
          type: "integer"
        dostawcy:
          type: "integer"
        avgMarza:
          type: "integer"
        stagingPending:
          type: "integer"
      required:
        - "produkty"
        - "dostawcy"
        - "avgMarza"
        - "stagingPending"
    GETAnalyticsLifecycleModelsOdpowiedz200:
      type: "object"
      properties:
        hasHistory:
          type: "boolean"
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              marka:
                type: "string"
              model:
                type: "string"
              pierwszyRaz:
                type: "string"
              ostatniRaz:
                type: "string"
              produkty:
                type: "integer"
            required:
              - "marka"
              - "model"
              - "pierwszyRaz"
              - "ostatniRaz"
              - "produkty"
      required:
        - "hasHistory"
        - "rows"
    GETAnalyticsMarginsOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              dostawca:
                type: "string"
              kategoria:
                type: "string"
              marka:
                type: "string"
              produkty:
                type: "integer"
              avgMarza:
                type: "integer"
              minMarza:
                type: "integer"
              maxMarza:
                type: "integer"
            required:
              - "dostawca"
              - "kategoria"
              - "marka"
              - "produkty"
              - "avgMarza"
              - "minMarza"
              - "maxMarza"
        low:
          type: "array"
          items: {}
        high:
          type: "array"
          items: {}
      required:
        - "rows"
        - "low"
        - "high"
    GETAnalyticsMarketGroupPricesOdpowiedz200:
      type: "object"
      properties:
        group:
          type: "string"
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              grupa:
                type: "string"
              oferty:
                type: "integer"
              srednia:
                type: "number"
              min:
                type: "number"
              max:
                type: "number"
            required:
              - "grupa"
              - "oferty"
              - "srednia"
              - "min"
              - "max"
      required:
        - "group"
        - "rows"
    GETAnalyticsPricesInflationOdpowiedz200:
      type: "object"
      properties:
        hasHistory:
          type: "boolean"
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              dostawca:
                type: "string"
              miesiac:
                type: "string"
              sredniaCena:
                type: "number"
              inflacjaPct:
                type: "number"
            required:
              - "dostawca"
              - "miesiac"
              - "sredniaCena"
              - "inflacjaPct"
      required:
        - "hasHistory"
        - "rows"
    GETAnalyticsPricesLastImportOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              kod:
                type: "string"
              nazwa:
                type: "string"
              dostawca:
                type: "string"
              cenaStara:
                type: "number"
              cenaNowa:
                type: "number"
              zmianaPct:
                type: "number"
              utworzono:
                type: "string"
            required:
              - "kod"
              - "nazwa"
              - "dostawca"
              - "cenaStara"
              - "cenaNowa"
              - "zmianaPct"
              - "utworzono"
      required:
        - "rows"
    GETAnalyticsPricesProductHistoryOdpowiedz200:
      type: "object"
      properties:
        hasHistory:
          type: "boolean"
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              data:
                type: "string"
              dostawca:
                type: "string"
              kod:
                type: "string"
              ean:
                type: "string"
              cenaZakupu:
                type: "number"
              cenaSprzedazy:
                type: "number"
              stan:
                type: "integer"
            required:
              - "data"
              - "dostawca"
              - "kod"
              - "ean"
              - "cenaZakupu"
              - "cenaSprzedazy"
              - "stan"
        stats:
          type: "object"
          properties:
            min:
              type: "number"
            max:
              type: "integer"
            avg:
              type: "number"
          required:
            - "min"
            - "max"
            - "avg"
      required:
        - "hasHistory"
        - "rows"
        - "stats"
    GETAnalyticsRotationInactiveOdpowiedz200:
      type: "object"
      properties:
        days:
          type: "integer"
        rows:
          type: "array"
          items: {}
      required:
        - "days"
        - "rows"
    GETAnalyticsSeasonalityMonthlyOdpowiedz200:
      type: "object"
      properties:
        hasHistory:
          type: "boolean"
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              miesiac:
                type: "string"
              marka:
                type: "string"
              sredniaCena:
                type: "number"
              dostepnoscPct:
                type: "integer"
            required:
              - "miesiac"
              - "marka"
              - "sredniaCena"
              - "dostepnoscPct"
      required:
        - "hasHistory"
        - "rows"
    GETAnalyticsStatusOdpowiedz200:
      type: "object"
      properties:
        hasHistory:
          type: "boolean"
        snapshots:
          type: "integer"
        od:
          type: "string"
        do:
          type: "string"
      required:
        - "hasHistory"
        - "snapshots"
        - "od"
        - "do"
    GETAnalyticsSuppliersLifecycleOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              dostawca:
                type: "string"
              typ:
                type: "string"
              kod:
                type: "string"
              nazwa:
                type: "string"
              kiedy:
                type: "string"
              powod:
                type: "string"
            required:
              - "dostawca"
              - "typ"
              - "kod"
              - "nazwa"
              - "kiedy"
              - "powod"
      required:
        - "rows"
    GETAnalyticsSuppliersStabilityOdpowiedz200:
      type: "object"
      properties:
        hasHistory:
          type: "boolean"
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              dostawca:
                type: "string"
              punkty:
                type: "integer"
              liczbaZmian:
                type: "integer"
              sredniaZmianaPct:
                type: "number"
              maxZmianaPct:
                type: "number"
            required:
              - "dostawca"
              - "punkty"
              - "liczbaZmian"
              - "sredniaZmianaPct"
              - "maxZmianaPct"
      required:
        - "hasHistory"
        - "rows"
    GETAnalyticsSuppliersStockOdpowiedz200:
      type: "object"
      properties:
        rows:
          type: "array"
          items:
            type: "object"
            properties:
              dostawca:
                type: "string"
              produkty:
                type: "integer"
              sredniStan:
                type: "number"
              dostepne:
                type: "integer"
              dostepnoscPct:
                type: "integer"
            required:
              - "dostawca"
              - "produkty"
              - "sredniStan"
              - "dostepne"
              - "dostepnoscPct"
      required:
        - "rows"
    GETAnalyticsTopZmianyOdpowiedz200:
      type: "array"
      items:
        type: "object"
        properties:
          kod:
            type: "string"
          nazwa:
            type: "string"
          dostawca:
            type: "string"
          cenaStara:
            type: "number"
          cenaNowa:
            type: "integer"
          zmianaPct:
            type: "number"
          utworzono:
            type: "string"
        required:
          - "kod"
          - "nazwa"
          - "dostawca"
          - "cenaStara"
          - "cenaNowa"
          - "zmianaPct"
          - "utworzono"
    GETAtrybutyLiczniki200:
      type: "object"
      properties:
        "marka::11.2R32":
          type: "integer"
        "marka::11.5/80-15.3":
          type: "integer"
        "marka::12.5/80-18":
          type: "integer"
        "marka::16.5/70-18":
          type: "integer"
        "marka::18x8.50-8":
          type: "integer"
        "marka::21x7.00-15":
          type: "integer"
        "marka::23.1-26":
          type: "integer"
        "marka::340/85R28":
          type: "integer"
        "marka::355/50R22.5":
          type: "integer"
        "marka::4.00-4":
          type: "integer"
        "marka::400/60-15.5":
          type: "integer"
        "marka::460/70R24":
          type: "integer"
        "marka::520/70R38":
          type: "integer"
        "marka::540/65R30":
          type: "integer"
        "marka::6.50-10":
          type: "integer"
        "marka::7.00-12":
          type: "integer"
        "marka::AEOLUS":
          type: "integer"
        "marka::ALLIANCE":
          type: "integer"
        "marka::APOLLO":
          type: "integer"
        "marka::ASCENSO":
          type: "integer"
        "marka::Alliance":
          type: "integer"
        "marka::BANDENMARKT":
          type: "integer"
        "marka::BARUM":
          type: "integer"
        "marka::BFGOODRICH":
          type: "integer"
        "marka::BKT":
          type: "integer"
        "marka::BLACKLION":
          type: "integer"
        "marka::BOKA TERRA":
          type: "integer"
        "marka::BRIDGESTONE":
          type: "integer"
        "marka::CAMSO":
          type: "integer"
        "marka::CARLSTAR":
          type: "integer"
        "marka::CEAT":
          type: "integer"
        "marka::CELESTIS":
          type: "integer"
        "marka::CETROC":
          type: "integer"
        "marka::CONTINENTAL":
          type: "integer"
        "marka::CULTOR":
          type: "integer"
        "marka::DAYTON":
          type: "integer"
        "marka::DELCORA":
          type: "integer"
        "marka::DELI":
          type: "integer"
        "marka::DOUBLE COIN":
          type: "integer"
        "marka::DUNLOP":
          type: "integer"
        "marka::FALKEN":
          type: "integer"
        "marka::FIRESTONE":
          type: "integer"
        "marka::FORERUNNER":
          type: "integer"
        "marka::FULDA":
          type: "integer"
        "marka::GALAXY":
          type: "integer"
        "marka::GLOBESTAR":
          type: "integer"
        "marka::GOLDENCROWN":
          type: "integer"
        "marka::GOODRIDE":
          type: "integer"
        "marka::GOODTRIP":
          type: "integer"
        "marka::GOODYEAR":
          type: "integer"
        "marka::GRI":
          type: "integer"
        "marka::GTK":
          type: "integer"
        "marka::HANKOOK":
          type: "integer"
        "marka::JK TYRE":
          type: "integer"
        "marka::JOURNEY":
          type: "integer"
        "marka::KABAT":
          type: "integer"
        "marka::KENDA":
          type: "integer"
        "marka::KLEBER":
          type: "integer"
        "marka::KUMHO":
          type: "integer"
        "marka::LASSA":
          type: "integer"
        "marka::LINGLONG":
          type: "integer"
        "marka::MARSHAL":
          type: "integer"
        "marka::MATADOR":
          type: "integer"
        "marka::MAXIMO":
          type: "integer"
        "marka::MICHELIN":
          type: "integer"
        "marka::MICHELIN RMXE":
          type: "integer"
        "marka::MIRAGE":
          type: "integer"
        "marka::MITAS":
          type: "integer"
        "marka::MRL":
          type: "integer"
        "marka::NOKIAN":
          type: "integer"
        "marka::OZKA":
          type: "integer"
        "marka::PETLAS":
          type: "integer"
        "marka::PIRELLI":
          type: "integer"
        "marka::PROMETEON":
          type: "integer"
        "marka::ROVELO":
          type: "integer"
        "marka::SATOYA":
          type: "integer"
        "marka::SAVA":
          type: "integer"
        "marka::SECURITY":
          type: "integer"
        "marka::SPEEDWAYS":
          type: "integer"
        "marka::STARCO":
          type: "integer"
        "marka::STARMAXX":
          type: "integer"
        "marka::STOMIL POZNAŃ":
          type: "integer"
        "marka::TAURUS":
          type: "integer"
        "marka::TRAILERMAXX":
          type: "integer"
        "marka::TREADMAX":
          type: "integer"
        "marka::TRELLEBORG":
          type: "integer"
        "marka::TURON":
          type: "integer"
        "marka::TURON FINALR":
          type: "integer"
        "marka::TVS":
          type: "integer"
        "marka::UNIROYAL":
          type: "integer"
        "marka::VREDESTEIN":
          type: "integer"
        "marka::WEST LAKE":
          type: "integer"
        "marka::WINDPOWER":
          type: "integer"
        "kategoria::Ciężarowe":
          type: "integer"
        "kategoria::Leśne":
          type: "integer"
        "kategoria::Przemysłowe":
          type: "integer"
        "kategoria::Rolnicze":
          type: "integer"
        "kategoria::ciężarowe":
          type: "integer"
        "kategoria::leśne":
          type: "integer"
        "kategoria::przemysłowe":
          type: "integer"
        "kategoria::rolnicze":
          type: "integer"
        "konstrukcja::B":
          type: "integer"
        "konstrukcja::D":
          type: "integer"
        "konstrukcja::L":
          type: "integer"
        "konstrukcja::R":
          type: "integer"
        "konstrukcja::X":
          type: "integer"
        "vfIf::IF":
          type: "integer"
        "vfIf::VF":
          type: "integer"
        "bieznik::1000":
          type: "integer"
        "bieznik::2 ECO":
          type: "integer"
        "bieznik::202":
          type: "integer"
        "bieznik::221":
          type: "integer"
        "bieznik::224":
          type: "integer"
        "bieznik::23":
          type: "integer"
        "bieznik::302":
          type: "integer"
        "bieznik::306":
          type: "integer"
        "bieznik::307":
          type: "integer"
        "bieznik::308":
          type: "integer"
        "bieznik::309":
          type: "integer"
        "bieznik::317":
          type: "integer"
        "bieznik::317 MPT":
          type: "integer"
        "bieznik::318":
          type: "integer"
        "bieznik::320":
          type: "integer"
        "bieznik::320 VALUE PLUS":
          type: "integer"
        "bieznik::321 PLUS":
          type: "integer"
        "bieznik::323":
          type: "integer"
        "bieznik::324":
          type: "integer"
        "bieznik::324 FARM PRO":
          type: "integer"
        "bieznik::325":
          type: "integer"
        "bieznik::326":
          type: "integer"
        "bieznik::327":
          type: "integer"
        "bieznik::327 FARM PRO IMPLEMENT":
          type: "integer"
        "bieznik::328 FLOTATION":
          type: "integer"
        "bieznik::328 VALUE PLUS":
          type: "integer"
        "bieznik::329":
          type: "integer"
        "bieznik::330":
          type: "integer"
        "bieznik::331":
          type: "integer"
        "bieznik::331 FLOTATION":
          type: "integer"
        "bieznik::332":
          type: "integer"
        "bieznik::333":
          type: "integer"
        "bieznik::333 AGRO-FORESTRY":
          type: "integer"
        "bieznik::344 FORESTRY":
          type: "integer"
        "bieznik::345 FORESTAR":
          type: "integer"
        "bieznik::347":
          type: "integer"
        "bieznik::350":
          type: "integer"
        "bieznik::354":
          type: "integer"
        "bieznik::356":
          type: "integer"
        "bieznik::360 FORESTRY":
          type: "integer"
        "bieznik::365 AGRISTAR":
          type: "integer"
        "bieznik::370":
          type: "integer"
        "bieznik::372":
          type: "integer"
        "bieznik::372 STUBBLE GUARD":
          type: "integer"
        "bieznik::373 VIBROFARM":
          type: "integer"
        "bieznik::375":
          type: "integer"
        "bieznik::376 MULTISTAR":
          type: "integer"
        "bieznik::380":
          type: "integer"
        "bieznik::380 INDUSTRIAL HD":
          type: "integer"
        "bieznik::381":
          type: "integer"
        "bieznik::381 FLOTAMASTER":
          type: "integer"
        "bieznik::385":
          type: "integer"
        "bieznik::388":
          type: "integer"
        "bieznik::390":
          type: "integer"
        "bieznik::398 MPT":
          type: "integer"
        "bieznik::488":
          type: "integer"
        "bieznik::5 CONTI HYBRID":
          type: "integer"
        "bieznik::533":
          type: "integer"
        "bieznik::533 HD":
          type: "integer"
        "bieznik::550":
          type: "integer"
        "bieznik::550 MULTIUSE":
          type: "integer"
        "bieznik::570":
          type: "integer"
        "bieznik::571":
          type: "integer"
        "bieznik::579":
          type: "integer"
        "bieznik::580":
          type: "integer"
        "bieznik::585":
          type: "integer"
        "bieznik::590":
          type: "integer"
        "bieznik::601":
          type: "integer"
        "bieznik::601, M+S":
          type: "integer"
        "bieznik::608":
          type: "integer"
        "bieznik::643 FORESTAR RIII":
          type: "integer"
        "bieznik::644 FORESTAR III":
          type: "integer"
        "bieznik::644 FORESTAR III ELIT":
          type: "integer"
        "bieznik::668 FORESTAR III":
          type: "integer"
        "bieznik::703":
          type: "integer"
        "bieznik::704":
          type: "integer"
        "bieznik::705":
          type: "integer"
        "bieznik::768":
          type: "integer"
        "bieznik::839":
          type: "integer"
        "bieznik::882":
          type: "integer"
        "bieznik::885":
          type: "integer"
        "bieznik::A-324":
          type: "integer"
        "bieznik::A-325":
          type: "integer"
        "bieznik::A-331":
          type: "integer"
        "bieznik::A-332":
          type: "integer"
        "bieznik::A-358":
          type: "integer"
        "bieznik::A-360":
          type: "integer"
        "bieznik::A-579":
          type: "integer"
        "bieznik::A-885":
          type: "integer"
        "bieznik::A320 VALUE PLUS":
          type: "integer"
        "bieznik::A320 VP":
          type: "integer"
        "bieznik::A323":
          type: "integer"
        "bieznik::AC 65":
          type: "integer"
        "bieznik::AC 70":
          type: "integer"
        "bieznik::AC 70 G":
          type: "integer"
        "bieznik::AC 70 IMP":
          type: "integer"
        "bieznik::AC 70 MPT":
          type: "integer"
        "bieznik::AC 70+ MPT":
          type: "integer"
        "bieznik::AC 85":
          type: "integer"
        "bieznik::AC 90":
          type: "integer"
        "bieznik::AC30":
          type: "integer"
        "bieznik::AC70+":
          type: "integer"
        "bieznik::AC70T":
          type: "integer"
        "bieznik::AD153":
          type: "integer"
        "bieznik::AF 333":
          type: "integer"
        "bieznik::AF 669":
          type: "integer"
        "bieznik::AF 670":
          type: "integer"
        "bieznik::AF01":
          type: "integer"
        "bieznik::AF302":
          type: "integer"
        "bieznik::AGNIPUTRA":
          type: "integer"
        "bieznik::AGP23":
          type: "integer"
        "bieznik::AGR ALFA":
          type: "integer"
        "bieznik::AGRI GOLD":
          type: "integer"
        "bieznik::AGRI KING 65":
          type: "integer"
        "bieznik::AGRI KING 70":
          type: "integer"
        "bieznik::AGRI KING 70 TORNEL":
          type: "integer"
        "bieznik::AGRI KING 85":
          type: "integer"
        "bieznik::AGRI KING 85 TORNEL":
          type: "integer"
        "bieznik::AGRI NOVA":
          type: "integer"
        "bieznik::AGRI STAR II":
          type: "integer"
        "bieznik::AGRIBIB":
          type: "integer"
        "bieznik::AGRIBIB 2":
          type: "integer"
        "bieznik::AGRIBIB 2 DA":
          type: "integer"
        "bieznik::AGRIBIB RC":
          type: "integer"
        "bieznik::AGRIFLEX 354 +":
          type: "integer"
        "bieznik::AGRIFLEX 363 +":
          type: "integer"
        "bieznik::AGRIFLEX 363 + XT":
          type: "integer"
        "bieznik::AGRIFLEX 372 +":
          type: "integer"
        "bieznik::AGRIFLEX 373 +":
          type: "integer"
        "bieznik::AGRIFLEX 373 + STUBBLE GUARD":
          type: "integer"
        "bieznik::AGRIFLEX 377 + XT":
          type: "integer"
        "bieznik::AGRIFLEX 389 +":
          type: "integer"
        "bieznik::AGRIFLEX 389 + XT":
          type: "integer"
        "bieznik::AGRIGOR20":
          type: "integer"
        "bieznik::AGRIMAX FACTOR":
          type: "integer"
        "bieznik::AGRIMAX FACTOR E":
          type: "integer"
        "bieznik::AGRIMAX FORCE":
          type: "integer"
        "bieznik::AGRIMAX FORTIS":
          type: "integer"
        "bieznik::AGRIMAX PROCROP E":
          type: "integer"
        "bieznik::AGRIMAX PROHARVEST E":
          type: "integer"
        "bieznik::AGRIMAX RT 600":
          type: "integer"
        "bieznik::AGRIMAX RT 600 E":
          type: "integer"
        "bieznik::AGRIMAX RT 657":
          type: "integer"
        "bieznik::AGRIMAX RT 765":
          type: "integer"
        "bieznik::AGRIMAX RT 765 E":
          type: "integer"
        "bieznik::AGRIMAX RT 765 STBT E":
          type: "integer"
        "bieznik::AGRIMAX RT 855":
          type: "integer"
        "bieznik::AGRIMAX RT 855 E":
          type: "integer"
        "bieznik::AGRIMAX RT 945":
          type: "integer"
        "bieznik::AGRIMAX RT 945 E":
          type: "integer"
        "bieznik::AGRIMAX RT 955":
          type: "integer"
        "bieznik::AGRIMAX RT855 STBT E":
          type: "integer"
        "bieznik::AGRIMAX RT955 E":
          type: "integer"
        "bieznik::AGRIMAX SIRIO":
          type: "integer"
        "bieznik::AGRIMAX SPARGO E":
          type: "integer"
        "bieznik::AGRIMAX TERIS":
          type: "integer"
        "bieznik::AGRIMAX TERIS CHO":
          type: "integer"
        "bieznik::AGRIMAX TERIS E":
          type: "integer"
        "bieznik::AGRIMAX V-FLECTO":
          type: "integer"
        "bieznik::AGRIMAX V-FLECTO E":
          type: "integer"
        "bieznik::AGRIMAX V-FLECTO E SPL":
          type: "integer"
        "bieznik::AGRIMAXFORCE E":
          type: "integer"
        "bieznik::AGRISTAR 365":
          type: "integer"
        "bieznik::AGRISTAR 375":
          type: "integer"
        "bieznik::AGRISTAR 378 XL":
          type: "integer"
        "bieznik::AGRISTAR II":
          type: "integer"
        "bieznik::AGRISTAR II 70":
          type: "integer"
        "bieznik::AGRISTAR II 85":
          type: "integer"
        "bieznik::AGRISTAR II RC":
          type: "integer"
        "bieznik::AGRISTAR II ROW CROP":
          type: "integer"
        "bieznik::AGRITERRA 02":
          type: "integer"
        "bieznik::AGRITERRA 04":
          type: "integer"
        "bieznik::AGRITERRA ULTRA":
          type: "integer"
        "bieznik::AGRO 10":
          type: "integer"
        "bieznik::AGRO 10 DA":
          type: "integer"
        "bieznik::AGRO 11":
          type: "integer"
        "bieznik::AGRO FORESTRY 333":
          type: "integer"
        "bieznik::AGRO FORESTRY 370":
          type: "integer"
        "bieznik::AGRO FORESTRY 669":
          type: "integer"
        "bieznik::AGRO FORESTRY 670":
          type: "integer"
        "bieznik::AGRO INDUSTRIAL 580":
          type: "integer"
        "bieznik::AGRO-INDUSTRIAL 10":
          type: "integer"
        "bieznik::AGROLOX":
          type: "integer"
        "bieznik::AGROLOX DA":
          type: "integer"
        "bieznik::AH31":
          type: "integer"
        "bieznik::AH35":
          type: "integer"
        "bieznik::AH51":
          type: "integer"
        "bieznik::AIATOR":
          type: "integer"
        "bieznik::AIRLIFT":
          type: "integer"
        "bieznik::AIROMAX AM27 E":
          type: "integer"
        "bieznik::AIT 426":
          type: "integer"
        "bieznik::AL10+":
          type: "integer"
        "bieznik::AL20":
          type: "integer"
        "bieznik::AL20W":
          type: "integer"
        "bieznik::AL22":
          type: "integer"
        "bieznik::AL50":
          type: "integer"
        "bieznik::AL50 SMART LINE":
          type: "integer"
        "bieznik::AL51":
          type: "integer"
        "bieznik::ALL POSITION M1":
          type: "integer"
        "bieznik::ALL POSITION M2":
          type: "integer"
        "bieznik::AM09":
          type: "integer"
        "bieznik::AM15+":
          type: "integer"
        "bieznik::AR-01 ALL STEEL":
          type: "integer"
        "bieznik::AR-02":
          type: "integer"
        "bieznik::AR-03 IMP UNI SERVICE":
          type: "integer"
        "bieznik::AR01":
          type: "integer"
        "bieznik::ARMOR GARD":
          type: "integer"
        "bieznik::ARMOR GARD 2":
          type: "integer"
        "bieznik::ARMOR GARD 2 MINE":
          type: "integer"
        "bieznik::ARMOR GARD MINE":
          type: "integer"
        "bieznik::AS 2001":
          type: "integer"
        "bieznik::AS 504":
          type: "integer"
        "bieznik::AS 505":
          type: "integer"
        "bieznik::AS 507":
          type: "integer"
        "bieznik::AS 509":
          type: "integer"
        "bieznik::AS AGRI 07":
          type: "integer"
        "bieznik::AS AGRI 10":
          type: "integer"
        "bieznik::AS AGRI 13":
          type: "integer"
        "bieznik::AS AGRI 19":
          type: "integer"
        "bieznik::AS AGRI 20":
          type: "integer"
        "bieznik::AS DUMPER II":
          type: "integer"
        "bieznik::AS FRONT 04":
          type: "integer"
        "bieznik::AS FRONT 07":
          type: "integer"
        "bieznik::AS FRONT 08":
          type: "integer"
        "bieznik::AS FRONT 09":
          type: "integer"
        "bieznik::AS FRONT 13":
          type: "integer"
        "bieznik::AS FRONT10":
          type: "integer"
        "bieznik::AS LOADER":
          type: "integer"
        "bieznik::AS-AGRI10":
          type: "integer"
        "bieznik::AS-AGRI13":
          type: "integer"
        "bieznik::AS-AGRI19":
          type: "integer"
        "bieznik::AS-FRONT 08":
          type: "integer"
        "bieznik::AS10":
          type: "integer"
        "bieznik::AS100":
          type: "integer"
        "bieznik::AS12":
          type: "integer"
        "bieznik::AS121":
          type: "integer"
        "bieznik::AS14":
          type: "integer"
        "bieznik::AS504 E":
          type: "integer"
        "bieznik::AT 603":
          type: "integer"
        "bieznik::AT 621":
          type: "integer"
        "bieznik::AT555":
          type: "integer"
        "bieznik::AT556":
          type: "integer"
        "bieznik::AT557":
          type: "integer"
        "bieznik::ATU 410 SUPER CAT":
          type: "integer"
        "bieznik::AU04":
          type: "integer"
        "bieznik::AVANT":
          type: "integer"
        "bieznik::AVANT 4":
          type: "integer"
        "bieznik::AVANT 5":
          type: "integer"
        "bieznik::AVANT 5 HL":
          type: "integer"
        "bieznik::AVANT A3":
          type: "integer"
        "bieznik::AVANT MS 2":
          type: "integer"
        "bieznik::AVANT MS 2 PLUS":
          type: "integer"
        "bieznik::AVANT MSS 2":
          type: "integer"
        "bieznik::AVANT PLUS":
          type: "integer"
        "bieznik::AW 09":
          type: "integer"
        "bieznik::AW 305":
          type: "integer"
        "bieznik::AW 309":
          type: "integer"
        "bieznik::AW 702":
          type: "integer"
        "bieznik::AW 705":
          type: "integer"
        "bieznik::AW 705 E":
          type: "integer"
        "bieznik::AW 708":
          type: "integer"
        "bieznik::AW 909":
          type: "integer"
        "bieznik::AW 909 E":
          type: "integer"
        "bieznik::AW IMPLEMENT 13":
          type: "integer"
        "bieznik::AW-IMPL 11":
          type: "integer"
        "bieznik::AW-IMPL 12":
          type: "integer"
        "bieznik::AW02":
          type: "integer"
        "bieznik::AW414":
          type: "integer"
        "bieznik::AW711 IMP":
          type: "integer"
        "bieznik::AWE 713 SET":
          type: "integer"
        "bieznik::AWI 305":
          type: "integer"
        "bieznik::AZ170":
          type: "integer"
        "bieznik::B-11":
          type: "integer"
        "bieznik::B-15":
          type: "integer"
        "bieznik::B-16":
          type: "integer"
        "bieznik::B-63":
          type: "integer"
        "bieznik::B12":
          type: "integer"
        "bieznik::B17":
          type: "integer"
        "bieznik::B18":
          type: "integer"
        "bieznik::B19":
          type: "integer"
        "bieznik::BA220":
          type: "integer"
        "bieznik::BANDENMARK KARGO RADIAL 184":
          type: "integer"
        "bieznik::BD200M":
          type: "integer"
        "bieznik::BD200R":
          type: "integer"
        "bieznik::BD280":
          type: "integer"
        "bieznik::BEEFY BABY III R-4":
          type: "integer"
        "bieznik::BEEFY BABY R-4":
          type: "integer"
        "bieznik::BF 200":
          type: "integer"
        "bieznik::BF200R":
          type: "integer"
        "bieznik::BF200R LRF":
          type: "integer"
        "bieznik::BF200R+":
          type: "integer"
        "bieznik::BI856 DRIVE":
          type: "integer"
        "bieznik::BIBLOAD":
          type: "integer"
        "bieznik::BIBLOAD H/S":
          type: "integer"
        "bieznik::BIG BOY":
          type: "integer"
        "bieznik::BK":
          type: "integer"
        "bieznik::BK-LOADER 53":
          type: "integer"
        "bieznik::BLIMP":
          type: "integer"
        "bieznik::BS49":
          type: "integer"
        "bieznik::BT20":
          type: "integer"
        "bieznik::BT22":
          type: "integer"
        "bieznik::BT25":
          type: "integer"
        "bieznik::BT300R":
          type: "integer"
        "bieznik::BT40":
          type: "integer"
        "bieznik::BT43":
          type: "integer"
        "bieznik::BT44":
          type: "integer"
        "bieznik::BT45":
          type: "integer"
        "bieznik::BT46":
          type: "integer"
        "bieznik::BU49":
          type: "integer"
        "bieznik::C-800 EXCAVATOR KPL":
          type: "integer"
        "bieznik::C305":
          type: "integer"
        "bieznik::C834":
          type: "integer"
        "bieznik::CA03":
          type: "integer"
        "bieznik::CARGO 4":
          type: "integer"
        "bieznik::CARGO 5":
          type: "integer"
        "bieznik::CARGO 5 HL":
          type: "integer"
        "bieznik::CARGO C4":
          type: "integer"
        "bieznik::CARGO MS":
          type: "integer"
        "bieznik::CDC1":
          type: "integer"
        "bieznik::CDL4+":
          type: "integer"
        "bieznik::CFO VT-COMBINE":
          type: "integer"
        "bieznik::CITY":
          type: "integer"
        "bieznik::CM335":
          type: "integer"
        "bieznik::COACH-AP01":
          type: "integer"
        "bieznik::COMANDER TWIN RIB":
          type: "integer"
        "bieznik::COMBINE MASTER CHO":
          type: "integer"
        "bieznik::COMBINEMASTER":
          type: "integer"
        "bieznik::COMET PLUS":
          type: "integer"
        "bieznik::COMP SMOOTH":
          type: "integer"
        "bieznik::COMPACT MASTER EM":
          type: "integer"
        "bieznik::COMPACTOR":
          type: "integer"
        "bieznik::COMPACTOR EXTRA":
          type: "integer"
        "bieznik::COMPACTOR SMOOTH":
          type: "integer"
        "bieznik::CON STAR":
          type: "integer"
        "bieznik::CON STAR E":
          type: "integer"
        "bieznik::CONTI COACH HA3":
          type: "integer"
        "bieznik::CONTI COACH HA5":
          type: "integer"
        "bieznik::CONTI COACHREGIO HA3":
          type: "integer"
        "bieznik::CONTI CROSSTRAC 3":
          type: "integer"
        "bieznik::CONTI CROSSTRAC HD3":
          type: "integer"
        "bieznik::CONTI CROSSTRAC HS3":
          type: "integer"
        "bieznik::CONTI CROSSTRAC HT3":
          type: "integer"
        "bieznik::CONTI ECO HD5":
          type: "integer"
        "bieznik::CONTI ECO HS 5":
          type: "integer"
        "bieznik::CONTI ECO HS5":
          type: "integer"
        "bieznik::CONTI ECOPLUS 3 EU LRJ":
          type: "integer"
        "bieznik::CONTI ECOPLUS HD3+":
          type: "integer"
        "bieznik::CONTI ECOPLUS HS3":
          type: "integer"
        "bieznik::CONTI ECOPLUS HT3+":
          type: "integer"
        "bieznik::CONTI ECOREGIONAL HD3":
          type: "integer"
        "bieznik::CONTI EFFICIENTPRO HD5":
          type: "integer"
        "bieznik::CONTI EFFICIENTPRO HS5":
          type: "integer"
        "bieznik::CONTI HYBRID 3":
          type: "integer"
        "bieznik::CONTI HYBRID 5":
          type: "integer"
        "bieznik::CONTI HYBRID HD3":
          type: "integer"
        "bieznik::CONTI HYBRID HD3+":
          type: "integer"
        "bieznik::CONTI HYBRID HD5":
          type: "integer"
        "bieznik::CONTI HYBRID HS3":
          type: "integer"
        "bieznik::CONTI HYBRID HS3+":
          type: "integer"
        "bieznik::CONTI HYBRID HS5":
          type: "integer"
        "bieznik::CONTI HYBRID HT3+":
          type: "integer"
        "bieznik::CONTI HYBRID HT5":
          type: "integer"
        "bieznik::CONTI HYBRID HT5 HL":
          type: "integer"
        "bieznik::CONTI HYBRID LD3":
          type: "integer"
        "bieznik::CONTI HYBRID LS3":
          type: "integer"
        "bieznik::CONTI SCANDINAVIA HD3":
          type: "integer"
        "bieznik::CONTI SCANDINAVIA HS3":
          type: "integer"
        "bieznik::CONTI SCANDINAVIA HS3 ED":
          type: "integer"
        "bieznik::CONTI SCANDINAVIA HT3":
          type: "integer"
        "bieznik::CONTI SCANDINAVIA LD3":
          type: "integer"
        "bieznik::CONTI SCANDINAVIA LS3":
          type: "integer"
        "bieznik::CONTI URBAN HA3":
          type: "integer"
        "bieznik::CONTI URBAN HA5":
          type: "integer"
        "bieznik::COUNTRY KING":
          type: "integer"
        "bieznik::CR926 ON/OFF":
          type: "integer"
        "bieznik::CR926B":
          type: "integer"
        "bieznik::CR931":
          type: "integer"
        "bieznik::CR960A":
          type: "integer"
        "bieznik::CR966":
          type: "integer"
        "bieznik::CR976A":
          type: "integer"
        "bieznik::CROPKER":
          type: "integer"
        "bieznik::CROSS CONTROL D2":
          type: "integer"
        "bieznik::CROSSGRIP":
          type: "integer"
        "bieznik::CS20":
          type: "integer"
        "bieznik::CT":
          type: "integer"
        "bieznik::CTH2":
          type: "integer"
        "bieznik::CUH2":
          type: "integer"
        "bieznik::D30":
          type: "integer"
        "bieznik::D800M":
          type: "integer"
        "bieznik::DEEP LUG 337":
          type: "integer"
        "bieznik::DH 1 DIAMOND":
          type: "integer"
        "bieznik::DH100":
          type: "integer"
        "bieznik::DH31":
          type: "integer"
        "bieznik::DH35":
          type: "integer"
        "bieznik::DH40":
          type: "integer"
        "bieznik::DH51":
          type: "integer"
        "bieznik::DH51 SMART FLEX":
          type: "integer"
        "bieznik::DL20W":
          type: "integer"
        "bieznik::DL50":
          type: "integer"
        "bieznik::DL51":
          type: "integer"
        "bieznik::DM 4":
          type: "integer"
        "bieznik::DM09 SMART WORK":
          type: "integer"
        "bieznik::DM11":
          type: "integer"
        "bieznik::DR 1 HECTOR":
          type: "integer"
        "bieznik::DRIVE M1":
          type: "integer"
        "bieznik::DRIVE R1":
          type: "integer"
        "bieznik::DRIVE R2":
          type: "integer"
        "bieznik::DRIVER":
          type: "integer"
        "bieznik::DURA-UT":
          type: "integer"
        "bieznik::DURAFORCE":
          type: "integer"
        "bieznik::DURAFORCE UTILITY":
          type: "integer"
        "bieznik::DURAVIS RD2":
          type: "integer"
        "bieznik::DURD2":
          type: "integer"
        "bieznik::DURS2":
          type: "integer"
        "bieznik::DURT2":
          type: "integer"
        "bieznik::E-TRUCK DRIVE":
          type: "integer"
        "bieznik::E-TRUCK STEER":
          type: "integer"
        "bieznik::E-TRUCK TRAILER":
          type: "integer"
        "bieznik::EARTH GRIPPER":
          type: "integer"
        "bieznik::EARTH GRIPPER EX":
          type: "integer"
        "bieznik::EARTH MAX SR 51 DOT2016":
          type: "integer"
        "bieznik::EARTHMAX SR 30":
          type: "integer"
        "bieznik::EARTHMAX SR 33":
          type: "integer"
        "bieznik::EARTHMAX SR 35 CR":
          type: "integer"
        "bieznik::EARTHMAX SR 41":
          type: "integer"
        "bieznik::EARTHMAX SR 41 CR":
          type: "integer"
        "bieznik::EARTHMAX SR 45 C.R.":
          type: "integer"
        "bieznik::EARTHMAX SR 50":
          type: "integer"
        "bieznik::EARTHMAX SR 51":
          type: "integer"
        "bieznik::EARTHMAX SR 53 CR":
          type: "integer"
        "bieznik::EARTHMAX SR30 E":
          type: "integer"
        "bieznik::EARTHMAX SR31":
          type: "integer"
        "bieznik::EARTHMAX SR331 E":
          type: "integer"
        "bieznik::EARTHMAX SR412 CR":
          type: "integer"
        "bieznik::EARTHMAX SR47 H2 CR":
          type: "integer"
        "bieznik::EARTHMAX SR50 CR":
          type: "integer"
        "bieznik::ECO HT2":
          type: "integer"
        "bieznik::ECOFORCE 2+":
          type: "integer"
        "bieznik::ECOHD2":
          type: "integer"
        "bieznik::ECOPIA DRIVE":
          type: "integer"
        "bieznik::ECOPIA DRIVE ENLITEN":
          type: "integer"
        "bieznik::ECOPIA H-DRIVE 002":
          type: "integer"
        "bieznik::ECOPIA H-STEER 002":
          type: "integer"
        "bieznik::ECOPIA H-TRAILER 002":
          type: "integer"
        "bieznik::ECOPIA STEER":
          type: "integer"
        "bieznik::ECOPIA STEER ENLITEN":
          type: "integer"
        "bieznik::ECOPIA TRAILER":
          type: "integer"
        "bieznik::ECOSTAR":
          type: "integer"
        "bieznik::ECOTONN NACZEPA":
          type: "integer"
        "bieznik::ECOTRANS":
          type: "integer"
        "bieznik::EG":
          type: "integer"
        "bieznik::ELD11":
          type: "integer"
        "bieznik::ELEVETA":
          type: "integer"
        "bieznik::ELEVETA X3":
          type: "integer"
        "bieznik::ELITEXP STD":
          type: "integer"
        "bieznik::ELS RADIAL":
          type: "integer"
        "bieznik::EM 22":
          type: "integer"
        "bieznik::EM 936":
          type: "integer"
        "bieznik::EM 936 ZESTAW-SET":
          type: "integer"
        "bieznik::EM 937 DOT 2010":
          type: "integer"
        "bieznik::EM-02":
          type: "integer"
        "bieznik::EM01":
          type: "integer"
        "bieznik::EM20":
          type: "integer"
        "bieznik::EM23":
          type: "integer"
        "bieznik::EM30":
          type: "integer"
        "bieznik::EM60":
          type: "integer"
        "bieznik::EM70":
          type: "integer"
        "bieznik::EM933":
          type: "integer"
        "bieznik::EMPERADOR":
          type: "integer"
        "bieznik::EMR 1030":
          type: "integer"
        "bieznik::EMR 1050":
          type: "integer"
        "bieznik::ENDURION":
          type: "integer"
        "bieznik::EQMAX D":
          type: "integer"
        "bieznik::EQMAX HL RFID":
          type: "integer"
        "bieznik::EQMAX RFID":
          type: "integer"
        "bieznik::EQMAX S HL":
          type: "integer"
        "bieznik::EQMAX S ULT":
          type: "integer"
        "bieznik::EQMAX T ULT HL":
          type: "integer"
        "bieznik::EQMAX ULTRA":
          type: "integer"
        "bieznik::EQMAX ULTRA HL":
          type: "integer"
        "bieznik::ETD100":
          type: "integer"
        "bieznik::ETT100":
          type: "integer"
        "bieznik::EUROGRIP AR700":
          type: "integer"
        "bieznik::EUROGRIP ST45":
          type: "integer"
        "bieznik::EV-999":
          type: "integer"
        "bieznik::EVOLUTION 70":
          type: "integer"
        "bieznik::EVOLUTION 85":
          type: "integer"
        "bieznik::EXCAVATOR":
          type: "integer"
        "bieznik::F-2":
          type: "integer"
        "bieznik::F-643":
          type: "integer"
        "bieznik::F-644":
          type: "integer"
        "bieznik::FARM 2000":
          type: "integer"
        "bieznik::FARM HIGHWAY SPL LR-F FI":
          type: "integer"
        "bieznik::FARM HIGWAY TOUGH":
          type: "integer"
        "bieznik::FARM IMPLEMENT 404":
          type: "integer"
        "bieznik::FARM IMPLEMENT 800R":
          type: "integer"
        "bieznik::FARM MAXX 70 RRT 770":
          type: "integer"
        "bieznik::FARM PRO":
          type: "integer"
        "bieznik::FARM PRO 303":
          type: "integer"
        "bieznik::FARM PRO 324":
          type: "integer"
        "bieznik::FARM PRO 327":
          type: "integer"
        "bieznik::FARM PRO 846":
          type: "integer"
        "bieznik::FARM PRO II":
          type: "integer"
        "bieznik::FARM PRO RADIAL 80":
          type: "integer"
        "bieznik::FARM PRO RADIAL 90":
          type: "integer"
        "bieznik::FARM SUPER 85 RRT 885":
          type: "integer"
        "bieznik::FARM XTREME 65 RRT 665":
          type: "integer"
        "bieznik::FARM XTREME 65 RRT500":
          type: "integer"
        "bieznik::FARM XTREME 70 RRT 500":
          type: "integer"
        "bieznik::FARM XTREME 75 RRT500":
          type: "integer"
        "bieznik::FARM XTREME 85 RRT500":
          type: "integer"
        "bieznik::FARMAX":
          type: "integer"
        "bieznik::FARMAX F2":
          type: "integer"
        "bieznik::FARMAX F2M":
          type: "integer"
        "bieznik::FARMAX HPT":
          type: "integer"
        "bieznik::FARMAX R1":
          type: "integer"
        "bieznik::FARMAX R65":
          type: "integer"
        "bieznik::FARMAX R65 X3":
          type: "integer"
        "bieznik::FARMAX R70":
          type: "integer"
        "bieznik::FARMAX R80":
          type: "integer"
        "bieznik::FARMAX R85":
          type: "integer"
        "bieznik::FARMAX RC":
          type: "integer"
        "bieznik::FARMAX X3 TF":
          type: "integer"
        "bieznik::FD611":
          type: "integer"
        "bieznik::FD622+":
          type: "integer"
        "bieznik::FD624":
          type: "integer"
        "bieznik::FD833":
          type: "integer"
        "bieznik::FF99":
          type: "integer"
        "bieznik::FH40":
          type: "integer"
        "bieznik::FH:01":
          type: "integer"
        "bieznik::FITKER":
          type: "integer"
        "bieznik::FL 252":
          type: "integer"
        "bieznik::FL 630 SUPER":
          type: "integer"
        "bieznik::FL 630 SUPER HD":
          type: "integer"
        "bieznik::FL 630 SUPER STBT":
          type: "integer"
        "bieznik::FL 630 SUPER STBT E":
          type: "integer"
        "bieznik::FL 630 ULTRA":
          type: "integer"
        "bieznik::FL 630 ULTRA RADIAL":
          type: "integer"
        "bieznik::FL 635":
          type: "integer"
        "bieznik::FL 639":
          type: "integer"
        "bieznik::FL 639 E":
          type: "integer"
        "bieznik::FL 693 M":
          type: "integer"
        "bieznik::FL 693 M E":
          type: "integer"
        "bieznik::FL 693 M.":
          type: "integer"
        "bieznik::FL-08":
          type: "integer"
        "bieznik::FL-60":
          type: "integer"
        "bieznik::FL637 STBT":
          type: "integer"
        "bieznik::FLOAT KING VF":
          type: "integer"
        "bieznik::FLOATMAX CARGO PLUS":
          type: "integer"
        "bieznik::FLOATMAX FT":
          type: "integer"
        "bieznik::FLOATMAX RT":
          type: "integer"
        "bieznik::FLOATMAX VF X3":
          type: "integer"
        "bieznik::FLOATSTAR":
          type: "integer"
        "bieznik::FLOT 558":
          type: "integer"
        "bieznik::FLOT 630 ULTRA":
          type: "integer"
        "bieznik::FLOT 647 E":
          type: "integer"
        "bieznik::FLOT 648":
          type: "integer"
        "bieznik::FLOT RIBIMPL 1":
          type: "integer"
        "bieznik::FLOT648 E DOT 2021":
          type: "integer"
        "bieznik::FLOTATION":
          type: "integer"
        "bieznik::FLOTATION 328":
          type: "integer"
        "bieznik::FLOTATION 331":
          type: "integer"
        "bieznik::FLOTATION KING":
          type: "integer"
        "bieznik::FLOTATION PLUS":
          type: "integer"
        "bieznik::FLOTATION T422":
          type: "integer"
        "bieznik::FLOTMASTER 381":
          type: "integer"
        "bieznik::FLR 335 SPOWER":
          type: "integer"
        "bieznik::FM 4":
          type: "integer"
        "bieznik::FM40 PROWADZĄCA":
          type: "integer"
        "bieznik::FORCE A98":
          type: "integer"
        "bieznik::FOREST KING F 2":
          type: "integer"
        "bieznik::FOREST KING T":
          type: "integer"
        "bieznik::FOREST KING TRS 2":
          type: "integer"
        "bieznik::FOREST KING TRS 2PLUS":
          type: "integer"
        "bieznik::FOREST KING TRS L-2":
          type: "integer"
        "bieznik::FORESTAR 344":
          type: "integer"
        "bieznik::FORESTAR 345":
          type: "integer"
        "bieznik::FORESTAR 644 III":
          type: "integer"
        "bieznik::FORESTECH":
          type: "integer"
        "bieznik::FORESTECH STBT":
          type: "integer"
        "bieznik::FORESTLAND E":
          type: "integer"
        "bieznik::FORESTMAX":
          type: "integer"
        "bieznik::FORESTMAX E":
          type: "integer"
        "bieznik::FORESTRY 331":
          type: "integer"
        "bieznik::FORESTRY 356":
          type: "integer"
        "bieznik::FR 2 MASTER":
          type: "integer"
        "bieznik::FS 216 STEL BLT":
          type: "integer"
        "bieznik::FS400":
          type: "integer"
        "bieznik::FS411":
          type: "integer"
        "bieznik::FS424":
          type: "integer"
        "bieznik::FS424 EVO":
          type: "integer"
        "bieznik::FS833":
          type: "integer"
        "bieznik::FT524":
          type: "integer"
        "bieznik::FT833":
          type: "integer"
        "bieznik::FU 1 CITY":
          type: "integer"
        "bieznik::FUELMAX":
          type: "integer"
        "bieznik::FUELMAX DEMO":
          type: "integer"
        "bieznik::FUELMAX END":
          type: "integer"
        "bieznik::FUELMAX PERFORMANCE":
          type: "integer"
        "bieznik::FUELMAX T":
          type: "integer"
        "bieznik::Farmax R75":
          type: "integer"
        "bieznik::Flotation T422":
          type: "integer"
        "bieznik::G02 ECO DRIVE":
          type: "integer"
        "bieznik::G02 ECO MULTIAXLE":
          type: "integer"
        "bieznik::G02 PRO MULTIAXLE HL":
          type: "integer"
        "bieznik::G2":
          type: "integer"
        "bieznik::GARDEN PRO":
          type: "integer"
        "bieznik::GARDENER":
          type: "integer"
        "bieznik::GD90":
          type: "integer"
        "bieznik::GF 304":
          type: "integer"
        "bieznik::GH110":
          type: "integer"
        "bieznik::GHA20":
          type: "integer"
        "bieznik::GHD20":
          type: "integer"
        "bieznik::GHD22":
          type: "integer"
        "bieznik::GHD99":
          type: "integer"
        "bieznik::GHT22 TRAILER":
          type: "integer"
        "bieznik::GHT50 TRAILER":
          type: "integer"
        "bieznik::GI378":
          type: "integer"
        "bieznik::GIANT TRAX":
          type: "integer"
        "bieznik::GLOBE":
          type: "integer"
        "bieznik::GLOBE WIDE-TREAD":
          type: "integer"
        "bieznik::GLOBE WIDE-TREAD STD":
          type: "integer"
        "bieznik::GMA30":
          type: "integer"
        "bieznik::GMA30 ON-OFF ROAD":
          type: "integer"
        "bieznik::GMD30":
          type: "integer"
        "bieznik::GMD30 ON-OFF ROAD":
          type: "integer"
        "bieznik::GMT50":
          type: "integer"
        "bieznik::GMT50 TRAILER ON-OFF":
          type: "integer"
        "bieznik::GR 288":
          type: "integer"
        "bieznik::GRADER XL":
          type: "integer"
        "bieznik::GRASSLAND FLOTATION 221":
          type: "integer"
        "bieznik::GREEN EX FL700":
          type: "integer"
        "bieznik::GREEN EX FL700 SR":
          type: "integer"
        "bieznik::GREEN EX FT2":
          type: "integer"
        "bieznik::GREEN EX RIB 4":
          type: "integer"
        "bieznik::GREEN EX RIB 7":
          type: "integer"
        "bieznik::GREEN EX RIB3":
          type: "integer"
        "bieznik::GREEN EX RIB5":
          type: "integer"
        "bieznik::GREEN EX RT100":
          type: "integer"
        "bieznik::GREEN XLR 65":
          type: "integer"
        "bieznik::GREEN XLR 65 SR":
          type: "integer"
        "bieznik::GREEN XLR 65+":
          type: "integer"
        "bieznik::GREEN XLR 70":
          type: "integer"
        "bieznik::GREEN XLR 75":
          type: "integer"
        "bieznik::GREEN XLR 85":
          type: "integer"
        "bieznik::GREEN XLR 95":
          type: "integer"
        "bieznik::GREEN XLR EARTH 65":
          type: "integer"
        "bieznik::GREEN XLR EARTH 65+":
          type: "integer"
        "bieznik::GREEN XLR EARTH 70":
          type: "integer"
        "bieznik::GREEN XLR EARTH 85":
          type: "integer"
        "bieznik::GREEN XLR F77":
          type: "integer"
        "bieznik::GREEN XLR F88":
          type: "integer"
        "bieznik::GREEN XLR IFLEX 70":
          type: "integer"
        "bieznik::GREEN XLR IFLEX 85":
          type: "integer"
        "bieznik::GREEN XLR VFLEX 65":
          type: "integer"
        "bieznik::GREEN XLR VFLEX 70":
          type: "integer"
        "bieznik::GRI GREEN XLR 65":
          type: "integer"
        "bieznik::GRIP EX CT111":
          type: "integer"
        "bieznik::GRIP EX EX222":
          type: "integer"
        "bieznik::GRIP EX LT100":
          type: "integer"
        "bieznik::GRIP EX LT122":
          type: "integer"
        "bieznik::GRIP EX LT200":
          type: "integer"
        "bieznik::GRIP EX MP500":
          type: "integer"
        "bieznik::GRIP EX R400":
          type: "integer"
        "bieznik::GRIP EX R410":
          type: "integer"
        "bieznik::GRIP EX TL200":
          type: "integer"
        "bieznik::GRIP EX TX100":
          type: "integer"
        "bieznik::GRIP MASTER EX":
          type: "integer"
        "bieznik::GRIP MASTER LOADER HD":
          type: "integer"
        "bieznik::GRIP TRAC 375":
          type: "integer"
        "bieznik::GRIP XLR EARTH TH200":
          type: "integer"
        "bieznik::GRIP XLR MP55":
          type: "integer"
        "bieznik::GRIP XLR TH200":
          type: "integer"
        "bieznik::GRIP XLR TH210":
          type: "integer"
        "bieznik::GRIP-N-RIDE":
          type: "integer"
        "bieznik::GRIPKER":
          type: "integer"
        "bieznik::GRIPKING":
          type: "integer"
        "bieznik::GRIPKING FORESTRY":
          type: "integer"
        "bieznik::GRIPKING HD":
          type: "integer"
        "bieznik::GROUND KARE":
          type: "integer"
        "bieznik::GROUND KARE SEMI-SLICK":
          type: "integer"
        "bieznik::GROUND KING":
          type: "integer"
        "bieznik::GROUND KING LOADER L-3":
          type: "integer"
        "bieznik::GT 333 MAXIMUS":
          type: "integer"
        "bieznik::GTL2 TRAILER":
          type: "integer"
        "bieznik::GTR-01":
          type: "integer"
        "bieznik::GTR-03":
          type: "integer"
        "bieznik::H8039":
          type: "integer"
        "bieznik::H8501":
          type: "integer"
        "bieznik::HAKKA TRUCK":
          type: "integer"
        "bieznik::HAKKA TRUCK DRIVE":
          type: "integer"
        "bieznik::HAKKA TRUCK STEER":
          type: "integer"
        "bieznik::HAKKA TRUCK TRAILER":
          type: "integer"
        "bieznik::HAKKAPELIITTA LOADER":
          type: "integer"
        "bieznik::HAKKAPELIITTA TRI":
          type: "integer"
        "bieznik::HC 70":
          type: "integer"
        "bieznik::HCM IND":
          type: "integer"
        "bieznik::HCS":
          type: "integer"
        "bieznik::HD2 ECO":
          type: "integer"
        "bieznik::HD3+ CONTI ECOPLUS":
          type: "integer"
        "bieznik::HD5 CONTI ECO":
          type: "integer"
        "bieznik::HDC":
          type: "integer"
        "bieznik::HDC1":
          type: "integer"
        "bieznik::HDC1 ED":
          type: "integer"
        "bieznik::HDR":
          type: "integer"
        "bieznik::HDW2 COACH":
          type: "integer"
        "bieznik::HDW2 SCANDINAVIA":
          type: "integer"
        "bieznik::HF1000":
          type: "integer"
        "bieznik::HIGH GRIP":
          type: "integer"
        "bieznik::HR 4":
          type: "integer"
        "bieznik::HR 4+":
          type: "integer"
        "bieznik::HR 5":
          type: "integer"
        "bieznik::HSC1":
          type: "integer"
        "bieznik::HSL2+ ECO-PLUS":
          type: "integer"
        "bieznik::HSR1":
          type: "integer"
        "bieznik::HSW2 SCANDINAVIA":
          type: "integer"
        "bieznik::HSW2 SCANDINAVIA XL":
          type: "integer"
        "bieznik::HSW2+ COACH":
          type: "integer"
        "bieznik::HT2 ECOPIA":
          type: "integer"
        "bieznik::HT3+ CONTI HYBRID":
          type: "integer"
        "bieznik::HTR":
          type: "integer"
        "bieznik::HTR+":
          type: "integer"
        "bieznik::HTR2":
          type: "integer"
        "bieznik::HTR2 +":
          type: "integer"
        "bieznik::HTS G2 E-4":
          type: "integer"
        "bieznik::HTS G2 L-4S":
          type: "integer"
        "bieznik::HTS G2 L-5S":
          type: "integer"
        "bieznik::HTS TUGGER":
          type: "integer"
        "bieznik::HTSR 400":
          type: "integer"
        "bieznik::HTW2 SCANDINAVIA":
          type: "integer"
        "bieznik::I-1 RIB IMPLEMENT":
          type: "integer"
        "bieznik::I-550":
          type: "integer"
        "bieznik::IC10":
          type: "integer"
        "bieznik::IC12":
          type: "integer"
        "bieznik::IC40":
          type: "integer"
        "bieznik::IM-03":
          type: "integer"
        "bieznik::IM-04":
          type: "integer"
        "bieznik::IM-07":
          type: "integer"
        "bieznik::IM-10":
          type: "integer"
        "bieznik::IM04":
          type: "integer"
        "bieznik::IM07":
          type: "integer"
        "bieznik::IM110":
          type: "integer"
        "bieznik::IM220":
          type: "integer"
        "bieznik::IMP 99":
          type: "integer"
        "bieznik::IMP-01":
          type: "integer"
        "bieznik::IMP-02":
          type: "integer"
        "bieznik::IMP-03":
          type: "integer"
        "bieznik::IMP-04":
          type: "integer"
        "bieznik::IMP-06 IMPLEMENT LINIOWA":
          type: "integer"
        "bieznik::IMP-07":
          type: "integer"
        "bieznik::IMP-08":
          type: "integer"
        "bieznik::IMP-09":
          type: "integer"
        "bieznik::IMPL RIB 774":
          type: "integer"
        "bieznik::IND 80":
          type: "integer"
        "bieznik::IND 85":
          type: "integer"
        "bieznik::IND 88":
          type: "integer"
        "bieznik::INDUSTRIAL 10":
          type: "integer"
        "bieznik::INDUSTRIAL 20":
          type: "integer"
        "bieznik::INDUSTRIAL 40 ER":
          type: "integer"
        "bieznik::INDUSTRIAL DX":
          type: "integer"
        "bieznik::INDUSTRIAL R-1":
          type: "integer"
        "bieznik::INDUSTRIAL RIB F3":
          type: "integer"
        "bieznik::IRR-O-GATOR":
          type: "integer"
        "bieznik::IT-D90":
          type: "integer"
        "bieznik::JET TRAX SUPER II":
          type: "integer"
        "bieznik::JET TRAX ULTIMA":
          type: "integer"
        "bieznik::JETLIFT":
          type: "integer"
        "bieznik::JETSTEEL JDC3":
          type: "integer"
        "bieznik::JETSTEEL JDE++":
          type: "integer"
        "bieznik::JETSTEEL JDL3":
          type: "integer"
        "bieznik::JETSTEEL JDL3+":
          type: "integer"
        "bieznik::JETWAY JTH1":
          type: "integer"
        "bieznik::JETWAY JTL":
          type: "integer"
        "bieznik::JETWAY JUC-XD":
          type: "integer"
        "bieznik::JETWAY JUC4":
          type: "integer"
        "bieznik::JETWAY JUH5":
          type: "integer"
        "bieznik::JETWAY JUH6":
          type: "integer"
        "bieznik::JETWAY JUL3":
          type: "integer"
        "bieznik::JETWAY JUL4":
          type: "integer"
        "bieznik::JTR 45":
          type: "integer"
        "bieznik::JUMBOTRAX HD":
          type: "integer"
        "bieznik::JUNCSTAR":
          type: "integer"
        "bieznik::K-01":
          type: "integer"
        "bieznik::K311":
          type: "integer"
        "bieznik::K357":
          type: "integer"
        "bieznik::K358 TURF RIDER":
          type: "integer"
        "bieznik::K365":
          type: "integer"
        "bieznik::K395 POWER GRIP":
          type: "integer"
        "bieznik::K404":
          type: "integer"
        "bieznik::K500 SUPER TURF":
          type: "integer"
        "bieznik::KF-97":
          type: "integer"
        "bieznik::KFD04":
          type: "integer"
        "bieznik::KLA31":
          type: "integer"
        "bieznik::KLD03":
          type: "integer"
        "bieznik::KLD200":
          type: "integer"
        "bieznik::KLD23":
          type: "integer"
        "bieznik::KLS03":
          type: "integer"
        "bieznik::KLS200":
          type: "integer"
        "bieznik::KLS200 [148/145":
          type: "integer"
        "bieznik::KLS23":
          type: "integer"
        "bieznik::KLT03":
          type: "integer"
        "bieznik::KLT200":
          type: "integer"
        "bieznik::KLT23":
          type: "integer"
        "bieznik::KLT31":
          type: "integer"
        "bieznik::KM400":
          type: "integer"
        "bieznik::KMA12":
          type: "integer"
        "bieznik::KMA400":
          type: "integer"
        "bieznik::KMAX":
          type: "integer"
        "bieznik::KMAX D A":
          type: "integer"
        "bieznik::KMAX D G3":
          type: "integer"
        "bieznik::KMAX HL":
          type: "integer"
        "bieznik::KMAX S G2 HL":
          type: "integer"
        "bieznik::KMAX S G3 HL":
          type: "integer"
        "bieznik::KMAX T":
          type: "integer"
        "bieznik::KMAX T G3 RFID":
          type: "integer"
        "bieznik::KMD406":
          type: "integer"
        "bieznik::KMD51":
          type: "integer"
        "bieznik::KNK 12":
          type: "integer"
        "bieznik::KNK 140":
          type: "integer"
        "bieznik::KNK 20":
          type: "integer"
        "bieznik::KNK 22":
          type: "integer"
        "bieznik::KNK 25":
          type: "integer"
        "bieznik::KNK 26":
          type: "integer"
        "bieznik::KNK 27":
          type: "integer"
        "bieznik::KNK 30":
          type: "integer"
        "bieznik::KNK 32":
          type: "integer"
        "bieznik::KNK 33":
          type: "integer"
        "bieznik::KNK 35":
          type: "integer"
        "bieznik::KNK 36":
          type: "integer"
        "bieznik::KNK 42 DA":
          type: "integer"
        "bieznik::KNK 44":
          type: "integer"
        "bieznik::KNK 46":
          type: "integer"
        "bieznik::KNK 48":
          type: "integer"
        "bieznik::KNK 50":
          type: "integer"
        "bieznik::KNK 52":
          type: "integer"
        "bieznik::KNK 55":
          type: "integer"
        "bieznik::KNK 56":
          type: "integer"
        "bieznik::KNK 65":
          type: "integer"
        "bieznik::KNK 66":
          type: "integer"
        "bieznik::KNK 70":
          type: "integer"
        "bieznik::KNK 72":
          type: "integer"
        "bieznik::KNK 77 COMPACTOR":
          type: "integer"
        "bieznik::KNK 88 COMPACTOR":
          type: "integer"
        "bieznik::KRD50":
          type: "integer"
        "bieznik::KRS03":
          type: "integer"
        "bieznik::KRS50":
          type: "integer"
        "bieznik::KRT03":
          type: "integer"
        "bieznik::KTD300":
          type: "integer"
        "bieznik::KTS300":
          type: "integer"
        "bieznik::KWA03":
          type: "integer"
        "bieznik::KWD01":
          type: "integer"
        "bieznik::KXA11":
          type: "integer"
        "bieznik::KXA31":
          type: "integer"
        "bieznik::KXA400":
          type: "integer"
        "bieznik::KXD10":
          type: "integer"
        "bieznik::KXD31":
          type: "integer"
        "bieznik::KXS10":
          type: "integer"
        "bieznik::KXT31":
          type: "integer"
        "bieznik::L-D20":
          type: "integer"
        "bieznik::L-S20":
          type: "integer"
        "bieznik::L-T10":
          type: "integer"
        "bieznik::L-T20":
          type: "integer"
        "bieznik::L2":
          type: "integer"
        "bieznik::L317 EVO":
          type: "integer"
        "bieznik::L355 EVO":
          type: "integer"
        "bieznik::LA31":
          type: "integer"
        "bieznik::LAWNMAX":
          type: "integer"
        "bieznik::LCW710":
          type: "integer"
        "bieznik::LD23":
          type: "integer"
        "bieznik::LD90":
          type: "integer"
        "bieznik::LD92":
          type: "integer"
        "bieznik::LD94":
          type: "integer"
        "bieznik::LD96":
          type: "integer"
        "bieznik::LDR1":
          type: "integer"
        "bieznik::LDSR 300":
          type: "integer"
        "bieznik::LDSR 500":
          type: "integer"
        "bieznik::LG 306":
          type: "integer"
        "bieznik::LG 307 X10":
          type: "integer"
        "bieznik::LG 408":
          type: "integer"
        "bieznik::LG RIB":
          type: "integer"
        "bieznik::LG SMOOTH":
          type: "integer"
        "bieznik::LIFT EX F300":
          type: "integer"
        "bieznik::LIFT MAX LM81":
          type: "integer"
        "bieznik::LIFT PRO":
          type: "integer"
        "bieznik::LINE A30":
          type: "integer"
        "bieznik::LINE A50":
          type: "integer"
        "bieznik::LINE A99":
          type: "integer"
        "bieznik::LINE ENERGY":
          type: "integer"
        "bieznik::LINE ENERGY ANTISPLASH":
          type: "integer"
        "bieznik::LOADER GRIP 2 L-3":
          type: "integer"
        "bieznik::LOADER GRIP L-3":
          type: "integer"
        "bieznik::LOADER PLUS":
          type: "integer"
        "bieznik::LOADER PRO HD":
          type: "integer"
        "bieznik::LOADER SPL":
          type: "integer"
        "bieznik::LOADPRO":
          type: "integer"
        "bieznik::LOADPRO HARD SURFACE":
          type: "integer"
        "bieznik::LOGGER KING TRS-2":
          type: "integer"
        "bieznik::LOGGER KING TRS-2 EXTREME":
          type: "integer"
        "bieznik::LR700":
          type: "integer"
        "bieznik::LR861":
          type: "integer"
        "bieznik::LS03":
          type: "integer"
        "bieznik::LSR1":
          type: "integer"
        "bieznik::LT23":
          type: "integer"
        "bieznik::LTL863":
          type: "integer"
        "bieznik::LUGKER":
          type: "integer"
        "bieznik::LWG-02 IMP KLOCKOWA":
          type: "integer"
        "bieznik::LWG-02 IMPLEMENT KLOCKOWA":
          type: "integer"
        "bieznik::LXL MASTER **":
          type: "integer"
        "bieznik::LZ300":
          type: "integer"
        "bieznik::Logger King TRS-2":
          type: "integer"
        "bieznik::M-A40":
          type: "integer"
        "bieznik::M-D40":
          type: "integer"
        "bieznik::M-D41":
          type: "integer"
        "bieznik::M-DRIVE 002":
          type: "integer"
        "bieznik::M-STEER 001":
          type: "integer"
        "bieznik::M-STEER 002":
          type: "integer"
        "bieznik::M748 EVO":
          type: "integer"
        "bieznik::M749":
          type: "integer"
        "bieznik::M840":
          type: "integer"
        "bieznik::M840 EVO":
          type: "integer"
        "bieznik::MA11":
          type: "integer"
        "bieznik::MA12":
          type: "integer"
        "bieznik::MA31":
          type: "integer"
        "bieznik::MACHXBIB":
          type: "integer"
        "bieznik::MAGLIFT LIP":
          type: "integer"
        "bieznik::MAGLIFT LIP NIEBRUDZĄCA":
          type: "integer"
        "bieznik::MAGLIFT LIP NIEBRUDZĄCA QUICK":
          type: "integer"
        "bieznik::MAGLIFT LIP QUICK":
          type: "integer"
        "bieznik::MAGLIFT STD":
          type: "integer"
        "bieznik::MAGLIFT STD NIEBRUDZĄCA":
          type: "integer"
        "bieznik::MARATHON COACH HL":
          type: "integer"
        "bieznik::MARATHON LHT":
          type: "integer"
        "bieznik::MARATHON LHT+":
          type: "integer"
        "bieznik::MARSHLAND":
          type: "integer"
        "bieznik::MAW 200 AW":
          type: "integer"
        "bieznik::MAW 200 IMPLEMENT":
          type: "integer"
        "bieznik::MAW 203 AW":
          type: "integer"
        "bieznik::MAW 905 AW":
          type: "integer"
        "bieznik::MAW 977 IMPLEMENT":
          type: "integer"
        "bieznik::MAXI TRACTION":
          type: "integer"
        "bieznik::MAXI TRACTION 65":
          type: "integer"
        "bieznik::MAXITRACTION 65":
          type: "integer"
        "bieznik::MAXIWAYS 100S":
          type: "integer"
        "bieznik::MAXIWAYS 110D":
          type: "integer"
        "bieznik::MAXTRAC":
          type: "integer"
        "bieznik::MBT MS DE2 **":
          type: "integer"
        "bieznik::MD1":
          type: "integer"
        "bieznik::MD101":
          type: "integer"
        "bieznik::MD2":
          type: "integer"
        "bieznik::MD51":
          type: "integer"
        "bieznik::MD777":
          type: "integer"
        "bieznik::ME3 456 ROCK GRIP":
          type: "integer"
        "bieznik::MEGAXBIB 2":
          type: "integer"
        "bieznik::MEGAXBIB M28":
          type: "integer"
        "bieznik::MEX 473 ROCK LUG":
          type: "integer"
        "bieznik::MG 41 SAW TOOTH":
          type: "integer"
        "bieznik::MG 54 Z-WIDE":
          type: "integer"
        "bieznik::MG011 PROWADZĄCA":
          type: "integer"
        "bieznik::MG022 /NACZEPA":
          type: "integer"
        "bieznik::MG121 PROWADZĄCA":
          type: "integer"
        "bieznik::MG121 prowadząca":
          type: "integer"
        "bieznik::MG2 402 BLACK CAT":
          type: "integer"
        "bieznik::MG2 419 SUPER GRADER":
          type: "integer"
        "bieznik::MG628":
          type: "integer"
        "bieznik::MG638":
          type: "integer"
        "bieznik::MG638  napęd":
          type: "integer"
        "bieznik::MG702 PROWADZĄCA":
          type: "integer"
        "bieznik::MG768":
          type: "integer"
        "bieznik::MH-504":
          type: "integer"
        "bieznik::MIGHTY MOW":
          type: "integer"
        "bieznik::MILITARY":
          type: "integer"
        "bieznik::MIM 374":
          type: "integer"
        "bieznik::MINE KING E-4":
          type: "integer"
        "bieznik::MINE KING L-5S":
          type: "integer"
        "bieznik::MINE L-3S":
          type: "integer"
        "bieznik::MIX D88":
          type: "integer"
        "bieznik::ML2 455 SKID STAR":
          type: "integer"
        "bieznik::ML2 482 HD BEAST":
          type: "integer"
        "bieznik::MONSTER L5":
          type: "integer"
        "bieznik::MP 567":
          type: "integer"
        "bieznik::MP 567 E":
          type: "integer"
        "bieznik::MP 570":
          type: "integer"
        "bieznik::MP 585":
          type: "integer"
        "bieznik::MP 590":
          type: "integer"
        "bieznik::MP 600":
          type: "integer"
        "bieznik::MP567 IMP":
          type: "integer"
        "bieznik::MPT":
          type: "integer"
        "bieznik::MPT 01":
          type: "integer"
        "bieznik::MPT 317":
          type: "integer"
        "bieznik::MPT 446":
          type: "integer"
        "bieznik::MPT 503":
          type: "integer"
        "bieznik::MPT 602":
          type: "integer"
        "bieznik::MPT 80":
          type: "integer"
        "bieznik::MPT 800":
          type: "integer"
        "bieznik::MPT 808":
          type: "integer"
        "bieznik::MPT 81":
          type: "integer"
        "bieznik::MPT AGILE":
          type: "integer"
        "bieznik::MPT AGILE 2":
          type: "integer"
        "bieznik::MPT AR-05":
          type: "integer"
        "bieznik::MPT AR-05 AGRO-TRAILER ALL STEEL":
          type: "integer"
        "bieznik::MPT-007":
          type: "integer"
        "bieznik::MPT-01":
          type: "integer"
        "bieznik::MPT-06":
          type: "integer"
        "bieznik::MPT01":
          type: "integer"
        "bieznik::MPT02":
          type: "integer"
        "bieznik::MPT03":
          type: "integer"
        "bieznik::MPT04":
          type: "integer"
        "bieznik::MPT04 IND":
          type: "integer"
        "bieznik::MPT05":
          type: "integer"
        "bieznik::MPT06":
          type: "integer"
        "bieznik::MPT06 IND":
          type: "integer"
        "bieznik::MPT100":
          type: "integer"
        "bieznik::MPT20":
          type: "integer"
        "bieznik::MPT21":
          type: "integer"
        "bieznik::MR 504 MILE PLUS":
          type: "integer"
        "bieznik::MRT 302 RT":
          type: "integer"
        "bieznik::MRT 302 RT M93 RT":
          type: "integer"
        "bieznik::MRT 329 KIRTI":
          type: "integer"
        "bieznik::MRT 332 IRRIGATOR ND-2":
          type: "integer"
        "bieznik::MS1":
          type: "integer"
        "bieznik::MSS II":
          type: "integer"
        "bieznik::MT 001 PLUS":
          type: "integer"
        "bieznik::MT 007 MOBI":
          type: "integer"
        "bieznik::MTF 212 DABANG TR":
          type: "integer"
        "bieznik::MTF 212 THREE RIB PREMIUM":
          type: "integer"
        "bieznik::MTF 221 DABANG DR":
          type: "integer"
        "bieznik::MTF 221 TWO RIB PREMIUM":
          type: "integer"
        "bieznik::MTF 222 TWO RIB":
          type: "integer"
        "bieznik::MTR 600":
          type: "integer"
        "bieznik::MTR 601":
          type: "integer"
        "bieznik::MTU 428 SUPER CAT":
          type: "integer"
        "bieznik::MTU 430 ROCKY HD":
          type: "integer"
        "bieznik::MULTI":
          type: "integer"
        "bieznik::MULTI BLOCK T MS DE2":
          type: "integer"
        "bieznik::MULTI ENERGY":
          type: "integer"
        "bieznik::MULTI HL":
          type: "integer"
        "bieznik::MULTI TOUGH":
          type: "integer"
        "bieznik::MULTI TRAC C/S":
          type: "integer"
        "bieznik::MULTIBIB":
          type: "integer"
        "bieznik::MULTILOADMAX":
          type: "integer"
        "bieznik::MULTIMAX MP 513":
          type: "integer"
        "bieznik::MULTIMAX MP 522":
          type: "integer"
        "bieznik::MULTIMAX MP 522 E":
          type: "integer"
        "bieznik::MULTIMAX MP 527":
          type: "integer"
        "bieznik::MULTIMAX MP 540":
          type: "integer"
        "bieznik::MULTIMAX MP 569 E":
          type: "integer"
        "bieznik::MULTISTAR 376":
          type: "integer"
        "bieznik::MULTIUSE 550":
          type: "integer"
        "bieznik::MULTIWAY XD REMIX":
          type: "integer"
        "bieznik::Maglift LIP":
          type: "integer"
        "bieznik::NB 38":
          type: "integer"
        "bieznik::NB 60":
          type: "integer"
        "bieznik::NB38 EXTRA ML":
          type: "integer"
        "bieznik::NB41":
          type: "integer"
        "bieznik::NB59":
          type: "integer"
        "bieznik::NORDMAN FOREST ELS":
          type: "integer"
        "bieznik::NORDMAN FOREST F":
          type: "integer"
        "bieznik::NORDMAN FOREST TRS L-2":
          type: "integer"
        "bieznik::NORDMAN MINE E-4":
          type: "integer"
        "bieznik::NOVO ENERGY S13":
          type: "integer"
        "bieznik::NT-3":
          type: "integer"
        "bieznik::OC10":
          type: "integer"
        "bieznik::OMN HD":
          type: "integer"
        "bieznik::OMNIBIB":
          type: "integer"
        "bieznik::OMNITRAC":
          type: "integer"
        "bieznik::OMNITRAC HL":
          type: "integer"
        "bieznik::OMNITRAC MSS":
          type: "integer"
        "bieznik::OR 71":
          type: "integer"
        "bieznik::ORION":
          type: "integer"
        "bieznik::ORJAK":
          type: "integer"
        "bieznik::ORJAK 24 MS":
          type: "integer"
        "bieznik::ORJAK 24 PLUS":
          type: "integer"
        "bieznik::ORJAK 4":
          type: "integer"
        "bieznik::ORJAK 5":
          type: "integer"
        "bieznik::ORJAK MS":
          type: "integer"
        "bieznik::ORJAK MSD2":
          type: "integer"
        "bieznik::ORJAK O3":
          type: "integer"
        "bieznik::ORJAK PLUS":
          type: "integer"
        "bieznik::P328":
          type: "integer"
        "bieznik::P332":
          type: "integer"
        "bieznik::P5038":
          type: "integer"
        "bieznik::P508A":
          type: "integer"
        "bieznik::PAC MASTER E":
          type: "integer"
        "bieznik::PAC MASTER SMOOTH":
          type: "integer"
        "bieznik::PACMASTER":
          type: "integer"
        "bieznik::PACMSTR":
          type: "integer"
        "bieznik::PD1":
          type: "integer"
        "bieznik::PERFORMER":
          type: "integer"
        "bieznik::PERFORMER 70":
          type: "integer"
        "bieznik::PERFORMER 85":
          type: "integer"
        "bieznik::PERFORMER 85 XL":
          type: "integer"
        "bieznik::PERFORMER 90":
          type: "integer"
        "bieznik::PERFORMER 95":
          type: "integer"
        "bieznik::PK-303":
          type: "integer"
        "bieznik::PK-305":
          type: "integer"
        "bieznik::PK-307":
          type: "integer"
        "bieznik::PL 801":
          type: "integer"
        "bieznik::PL 801 ZESTAW-SET":
          type: "integer"
        "bieznik::PNEUTRAC":
          type: "integer"
        "bieznik::POINT 65":
          type: "integer"
        "bieznik::POINT HP":
          type: "integer"
        "bieznik::PORT KING PLUS GCRC IND-4":
          type: "integer"
        "bieznik::PORT KING USZKODZONE":
          type: "integer"
        "bieznik::POWER CL":
          type: "integer"
        "bieznik::POWER DRIVE 356":
          type: "integer"
        "bieznik::POWER FLR 333":
          type: "integer"
        "bieznik::POWERGRIP G-2":
          type: "integer"
        "bieznik::POWERLUG R-4":
          type: "integer"
        "bieznik::POWERPLUS":
          type: "integer"
        "bieznik::POWERPLUS HD":
          type: "integer"
        "bieznik::PRINCE 335 FLOTATION":
          type: "integer"
        "bieznik::PRINCE 338 FLOTATION":
          type: "integer"
        "bieznik::PRO RIB":
          type: "integer"
        "bieznik::PT - HD IMP":
          type: "integer"
        "bieznik::PT - HD ZESTAW-SET":
          type: "integer"
        "bieznik::PT-HD":
          type: "integer"
        "bieznik::QH638":
          type: "integer"
        "bieznik::R-D30":
          type: "integer"
        "bieznik::R-D36 156/":
          type: "integer"
        "bieznik::R-DRIVE 002":
          type: "integer"
        "bieznik::R-S30":
          type: "integer"
        "bieznik::R-STEER 002":
          type: "integer"
        "bieznik::R-T30":
          type: "integer"
        "bieznik::R02 PRO TRAILER FRT":
          type: "integer"
        "bieznik::R02 PRO TRAILER HL FRT HL FRT":
          type: "integer"
        "bieznik::R02 PROFUEL DRIVE":
          type: "integer"
        "bieznik::R02 PROFUEL STEER":
          type: "integer"
        "bieznik::R02 PROWAY DRIVE":
          type: "integer"
        "bieznik::R02 PROWAY STEER":
          type: "integer"
        "bieznik::R1":
          type: "integer"
        "bieznik::R164":
          type: "integer"
        "bieznik::R166":
          type: "integer"
        "bieznik::R168":
          type: "integer"
        "bieznik::R168+":
          type: "integer"
        "bieznik::R249 ECO":
          type: "integer"
        "bieznik::R8000 UTILITY":
          type: "integer"
        "bieznik::R8000UT":
          type: "integer"
        "bieznik::RADIAL 65":
          type: "integer"
        "bieznik::RADIAL 85":
          type: "integer"
        "bieznik::RADIAL FL 630 ULTRA":
          type: "integer"
        "bieznik::RC 95":
          type: "integer"
        "bieznik::RC 950 SPRAYER":
          type: "integer"
        "bieznik::RC-999":
          type: "integer"
        "bieznik::RD-01":
          type: "integer"
        "bieznik::RD-02":
          type: "integer"
        "bieznik::RD01":
          type: "integer"
        "bieznik::RD02":
          type: "integer"
        "bieznik::RD03":
          type: "integer"
        "bieznik::RD2":
          type: "integer"
        "bieznik::RD2 DURAVIS":
          type: "integer"
        "bieznik::RD2 SEVERE DUTY DURAVIS":
          type: "integer"
        "bieznik::RD50":
          type: "integer"
        "bieznik::REGIOCONTROL":
          type: "integer"
        "bieznik::REGIOCONTROL 3":
          type: "integer"
        "bieznik::REGIOCONTROL 3 HL":
          type: "integer"
        "bieznik::REGIOCONTROL*":
          type: "integer"
        "bieznik::REGIOFORCE":
          type: "integer"
        "bieznik::REGIOFORCE 3":
          type: "integer"
        "bieznik::REGIOTONN 3":
          type: "integer"
        "bieznik::REGIOTONN 3 HL":
          type: "integer"
        "bieznik::REM8":
          type: "integer"
        "bieznik::RI11":
          type: "integer"
        "bieznik::RI128":
          type: "integer"
        "bieznik::RI128 HL FRT":
          type: "integer"
        "bieznik::RI151":
          type: "integer"
        "bieznik::RI151 HL":
          type: "integer"
        "bieznik::RI151A":
          type: "integer"
        "bieznik::RIB":
          type: "integer"
        "bieznik::RIB 707":
          type: "integer"
        "bieznik::RIB 774":
          type: "integer"
        "bieznik::RIB 774 DOT":
          type: "integer"
        "bieznik::RIB 775":
          type: "integer"
        "bieznik::RIB 900":
          type: "integer"
        "bieznik::RIB IMPLEMENT":
          type: "integer"
        "bieznik::RIB-777":
          type: "integer"
        "bieznik::RIDEMAX FL 690 STBT":
          type: "integer"
        "bieznik::RIDEMAX FL 693":
          type: "integer"
        "bieznik::RIDEMAX FL 693 M":
          type: "integer"
        "bieznik::RIDEMAX FL 693 M STBT":
          type: "integer"
        "bieznik::RIDEMAX FL 693 STBT":
          type: "integer"
        "bieznik::RIDEMAX FL693M E":
          type: "integer"
        "bieznik::RIDEMAX FL693M E STBT":
          type: "integer"
        "bieznik::RIDEMAX FL693M HD E":
          type: "integer"
        "bieznik::RIDEMAX IT 696":
          type: "integer"
        "bieznik::RIDEMAX IT 696 E":
          type: "integer"
        "bieznik::RIDEMAX IT697 E":
          type: "integer"
        "bieznik::RM 500":
          type: "integer"
        "bieznik::RM500 STBT E":
          type: "integer"
        "bieznik::RMS":
          type: "integer"
        "bieznik::ROADGUIDER IMP638":
          type: "integer"
        "bieznik::ROCK GRIP":
          type: "integer"
        "bieznik::ROCKLUG E3":
          type: "integer"
        "bieznik::ROCKSLID":
          type: "integer"
        "bieznik::ROUTE CONTROL D":
          type: "integer"
        "bieznik::ROUTE CONTROL S":
          type: "integer"
        "bieznik::RS2":
          type: "integer"
        "bieznik::RS2 DURAVIS":
          type: "integer"
        "bieznik::RS2 SEVERE DUTY DURAVIS":
          type: "integer"
        "bieznik::RS200":
          type: "integer"
        "bieznik::RS220":
          type: "integer"
        "bieznik::RS50":
          type: "integer"
        "bieznik::RT 747":
          type: "integer"
        "bieznik::RT03":
          type: "integer"
        "bieznik::RT1":
          type: "integer"
        "bieznik::RT2 DURAVIS":
          type: "integer"
        "bieznik::RTG":
          type: "integer"
        "bieznik::S-247":
          type: "integer"
        "bieznik::S-365":
          type: "integer"
        "bieznik::S-369":
          type: "integer"
        "bieznik::S-379":
          type: "integer"
        "bieznik::S20":
          type: "integer"
        "bieznik::S29":
          type: "integer"
        "bieznik::SAND KING":
          type: "integer"
        "bieznik::SC20":
          type: "integer"
        "bieznik::SC20 MILEAGE+":
          type: "integer"
        "bieznik::SC20 SIT":
          type: "integer"
        "bieznik::SC20 STD MILEAGE+":
          type: "integer"
        "bieznik::SC20+":
          type: "integer"
        "bieznik::SC20+ SIT":
          type: "integer"
        "bieznik::SC20+ STD":
          type: "integer"
        "bieznik::SFT":
          type: "integer"
        "bieznik::SFT IMP":
          type: "integer"
        "bieznik::SG-316":
          type: "integer"
        "bieznik::SG-815":
          type: "integer"
        "bieznik::SG-818":
          type: "integer"
        "bieznik::SGP-02":
          type: "integer"
        "bieznik::SGP-03":
          type: "integer"
        "bieznik::SGP-04":
          type: "integer"
        "bieznik::SGP-05":
          type: "integer"
        "bieznik::SGP-06":
          type: "integer"
        "bieznik::SHRESTH TRACTOR FRONT":
          type: "integer"
        "bieznik::SK 903":
          type: "integer"
        "bieznik::SK-02":
          type: "integer"
        "bieznik::SK-05":
          type: "integer"
        "bieznik::SK-800":
          type: "integer"
        "bieznik::SK-900":
          type: "integer"
        "bieznik::SK.05":
          type: "integer"
        "bieznik::SK.ST.20":
          type: "integer"
        "bieznik::SK01":
          type: "integer"
        "bieznik::SK02":
          type: "integer"
        "bieznik::SKID POWER":
          type: "integer"
        "bieznik::SKID POWER CHEVRON":
          type: "integer"
        "bieznik::SKID POWER HD":
          type: "integer"
        "bieznik::SKID POWER HD E":
          type: "integer"
        "bieznik::SKID POWER HD IMP E":
          type: "integer"
        "bieznik::SKID STEER 20":
          type: "integer"
        "bieznik::SKID STEER 30":
          type: "integer"
        "bieznik::SKL800":
          type: "integer"
        "bieznik::SM-ND":
          type: "integer"
        "bieznik::SMART FLEX AH51":
          type: "integer"
        "bieznik::SMART FLEX AL51":
          type: "integer"
        "bieznik::SMART FLEX DH51":
          type: "integer"
        "bieznik::SMART FLEX TH31":
          type: "integer"
        "bieznik::SMART TOURING AL22":
          type: "integer"
        "bieznik::SMOOTH COMPACTOR":
          type: "integer"
        "bieznik::SNOWTRAC":
          type: "integer"
        "bieznik::SOIL KING VF":
          type: "integer"
        "bieznik::SONA TRACTOR FRONT":
          type: "integer"
        "bieznik::SONA-1 R-1 TRACTOR REAR":
          type: "integer"
        "bieznik::SONA1 3R":
          type: "integer"
        "bieznik::SP HD":
          type: "integer"
        "bieznik::SP HD IMP":
          type: "integer"
        "bieznik::SP SK":
          type: "integer"
        "bieznik::SP246":
          type: "integer"
        "bieznik::SP247":
          type: "integer"
        "bieznik::SP247 HL":
          type: "integer"
        "bieznik::SP346":
          type: "integer"
        "bieznik::SP346 HL":
          type: "integer"
        "bieznik::SP346+ HL":
          type: "integer"
        "bieznik::SP362 PROWADZĄCA":
          type: "integer"
        "bieznik::SP382":
          type: "integer"
        "bieznik::SP446":
          type: "integer"
        "bieznik::SP446+":
          type: "integer"
        "bieznik::SP462":
          type: "integer"
        "bieznik::SP462 W2020":
          type: "integer"
        "bieznik::SP482":
          type: "integer"
        "bieznik::SPRAYMAX":
          type: "integer"
        "bieznik::SR-777":
          type: "integer"
        "bieznik::SR-888":
          type: "integer"
        "bieznik::SRF-01":
          type: "integer"
        "bieznik::SRF-02":
          type: "integer"
        "bieznik::SRF-03":
          type: "integer"
        "bieznik::SRF-04":
          type: "integer"
        "bieznik::SRF-05":
          type: "integer"
        "bieznik::SST":
          type: "integer"
        "bieznik::ST-01 PREMIUM":
          type: "integer"
        "bieznik::ST-01 STANDARD":
          type: "integer"
        "bieznik::ST-02 PREMIUM":
          type: "integer"
        "bieznik::ST-02 STANDARD":
          type: "integer"
        "bieznik::STEER PLUS":
          type: "integer"
        "bieznik::STEER R1":
          type: "integer"
        "bieznik::STEER R2":
          type: "integer"
        "bieznik::STEERKING+":
          type: "integer"
        "bieznik::STR 40 ULMAX DA":
          type: "integer"
        "bieznik::SUPER G":
          type: "integer"
        "bieznik::SUPER INDUSTRIAL LUG R-4":
          type: "integer"
        "bieznik::SUPER TRAC":
          type: "integer"
        "bieznik::SURETRAX HD":
          type: "integer"
        "bieznik::SW-201":
          type: "integer"
        "bieznik::T-448 EXTRA":
          type: "integer"
        "bieznik::T-900":
          type: "integer"
        "bieznik::T-991 KPL/TR87":
          type: "integer"
        "bieznik::T306":
          type: "integer"
        "bieznik::T310":
          type: "integer"
        "bieznik::T404":
          type: "integer"
        "bieznik::T404 FS":
          type: "integer"
        "bieznik::T404 GT":
          type: "integer"
        "bieznik::T410 AGF":
          type: "integer"
        "bieznik::T411":
          type: "integer"
        "bieznik::T412":
          type: "integer"
        "bieznik::T413":
          type: "integer"
        "bieznik::T414":
          type: "integer"
        "bieznik::T415":
          type: "integer"
        "bieznik::T418":
          type: "integer"
        "bieznik::T421":
          type: "integer"
        "bieznik::T421 AMPT":
          type: "integer"
        "bieznik::T421 GREY":
          type: "integer"
        "bieznik::T422 VALUE PRO":
          type: "integer"
        "bieznik::T423":
          type: "integer"
        "bieznik::T423 AMPT":
          type: "integer"
        "bieznik::T428":
          type: "integer"
        "bieznik::T428 AMPT":
          type: "integer"
        "bieznik::T43":
          type: "integer"
        "bieznik::T430":
          type: "integer"
        "bieznik::T440":
          type: "integer"
        "bieznik::T440 EXC":
          type: "integer"
        "bieznik::T440 LD":
          type: "integer"
        "bieznik::T446":
          type: "integer"
        "bieznik::T448":
          type: "integer"
        "bieznik::T452":
          type: "integer"
        "bieznik::T459 HD":
          type: "integer"
        "bieznik::T462":
          type: "integer"
[...]
